body,ul{margin: 0;}
header{
    /*background-color: #B1060F;*/
    width:100%;
  /*  height: 50px;*/
    margin-top: 0px;
}
/*li.nav{
    display: inline;
    margin-right: 10px;
    padding: 12px;
    height: 50px;
    text-align: center;!important;
}*/
#tb{
   /* margin-top: 13.5px;*/
    margin-left: 78px;
    height: 50px;
}
a{
    color:black;
    font-size: 16px;
    text-decoration:none;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

/* Default Styles */

#moverside{
    position: fixed;
    top:30px;
}
.flbox22{
    position: fixed;
    bottom: 0;
}
.sideboxnr{
    font-size: 5px;!important;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
#ad{
    z-index: 800;
}
body {
    background: #fafafa;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width:100%;
    margin: auto;
    height: 50px;
    vertical-align: center;
}


/* Navigation Styles */

nav {
    background: #B90000;
}

nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    margin-top: 10.5px;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 0px 14px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: #970000;
}

nav ul li ul {
    /*   border-bottom: 5px solid #2ba0db;*/
    display: none;
    position: absolute;
    width: 120px;
}

nav ul li ul li {
    /* border-top: 1px solid #444;*/
    display: block;
}

nav ul li ul li:first-child {
    border-top: none;
}

nav ul li ul li a {
    background:white;
    display: block;
    color: black;
    padding: 10px 14px;
    height: 30px;
    /*   padding: 0 0 0 0;!important;*/
}

nav ul li ul li a:hover {
    /* background: #126d9b;*/
    color: red;
}

nav .fa.fa-angle-down {
    margin-left: 0px;
}
ul{
    height: 50px;
}
li{
    height: 50px;
    vertical-align: center;
}
#dh{
    height: 50px;
    margin-bottom: 25px;
}
.A{
    height: 20px;

}
a.A{
    height: 31px;
    background-color:white;!important;
    padding:0 10px 0 10px;
}
a.B{
    color: white;
    background-color:#AA0000;
}
a.B:hover{
    color: white;!important;
}
li.C{
    height: 40px;
}
li.D{
    margin-left: 75px;
}
#D{
    border-left: 1px solid white;
}
a.E{
    color: white;
}
.close{
    font-size: 35px;
}
