.container {
    z-index: 8888;
}

.hot li {
    display: inline;

}

li.Q {
    padding: 0 5px 0 5px;
}

form {
    width: 700px;
    display: inline;
    float: left;
    word-spacing: -5px;
    margin-top: 20px;
    margin-left: 72px;
}

.hot {
    width: 550px;
    float: left;
    margin-top: 20px;
}

#ssl {
    height: 100px;
    background-color: #D0D0D0;
}

#ss {
    width: 550px;
    height: 30px;
}

#an {
    height: 33px;
    width: 90px;
    background-color: #AE0000;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    color: white;
}

#an:hover {
    background-color: #CB0000;
}

#hf {
    width: 1187px;
    margin-left: 6%;
    margin-right: 6%;
}

#xz {
    margin-left: 6%;
    margin-right: 6%;
    height: 270px;
    background-color: white;
    padding-top: 20px;
    border: solid #C2C2C2 1px;
}

#nr {
    margin-top: 30px;
    margin-left: 6%;
    margin-right: 6%;
    height: 1500px;
    background-color: white;
    padding-top: 20px;
    border: solid #C2C2C2 1px;
}

.lb {
    display: inline;
    width: 174px;
!important;
    height: 47px;
!important;
    word-spacing: 88em;
    padding: 20px 70px 10px 70px;
    margin-top: 20px;
}

.bb {
    padding: 20px 30px 10px 30px;
}

li {
    display: inline;
}

.G {
    border-top: solid red;
    background-color: white;
}

.H {
    border-left: solid #C2C2C2 1px;
    border-bottom: solid #C2C2C2 1px;
}

.J {
    border-right: solid #C2C2C2 1px;
}

a:hover {
    color: red;
}

.Z {
    margin-left: 15px;
    font-size: 12px;
}

.QAQ {
    height: 31px;
}
.nl{
    float: left;
    margin-left: 35px;
}
.tjf_imgimg1{
    float: left;
}
.ASD{
    margin-left:  -35px
}
.ZXC{
    margin-left: 25px;
}
.bt{

}
.bt{
    font-size: 23px;
}
.jg{
    border-right: solid #CBC5C2 1px;
    margin-left: 15px;
    margin-right: 15px;
}
.js{
    margin-left: 300px;
}
.price{
    font-size: 35px;
    color: red;
}
.mt5{
    margin-left: 650px;
}
.fy{
    margin-left: 25px;
    height: 230px;
}